/* Estilos generales */
body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  background-color: teal;
}

/* Contenedor principal */
.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 70%;
}

/* Estilos para el título principal */
h1, h2{
  color: rgb(0, 128, 128);
}

/* Lista de tareas */
ul {
  list-style: none;
  padding: 0;
}

/* Elementos individuales de la lista de tareas */
li {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

/* Estilos para los botones */
button {
  background-color: teal;
  color: #fff;
  border: none;
  margin-top: 5px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.4s;
}

/* Cambio de estilo en el hover (cuando el puntero pasa sobre el botón) */
button:hover {
  background-color: darkseagreen;
  border: 2px solid rgb(0, 128, 128);
  color: teal;
  box-shadow: 0 3px 5px rgb(0, 128, 128);
}

/* Estilos para elementos completados */
.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Estilos para el campo de entrada de tareas */
#taskInput {
  width: 30%;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 128, 128);
}

#taskDescripcionInput {
  width: 30%;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 128, 128);
}
